<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mla</key>
	<dict>
		<key>title</key>
		<string>MLA Default</string>
		<key>public_key</key>
		<string>TEST-47638845-b0ff-469d-9700-1779a2e26e44</string>
		<key>pref_id</key>
		<string>410973637-e2c78e50-d8a6-43b9-8af2-59fd7fa6ac21</string>
		<key>access_token</key>
		<string>TEST-2339206676136732-022711-66711b94df7125aff837f84ca14210df-410998299</string>
		<key>collector</key>
		<string>TETE1898701 / qatest4439</string>
		<key>payer</key>
		<string>TESTPJ7DMB1A / qatest3404</string>
	</dict>
	<key>mlb</key>
	<dict>
		<key>title</key>
		<string>MLB Default</string>
		<key>public_key</key>
		<string>TEST-f8dbbe4e-e63e-48b1-b17f-5da486d61547</string>
		<key>pref_id</key>
		<string>411544354-b3318624-9f4c-4d3c-839a-3e716c8a383f</string>
		<key>access_token</key>
		<string>TEST-7182822688046193-022812-1fc2bafbe7ce8a723231331c8b383aee-411549390</string>
		<key>payer</key>
		<string>TETE636968 / qatest9197</string>
		<key>collector</key>
		<string>TETE9478140 / qatest3151</string>
		<key>site</key>
		<string>MLB</string>
		<key>language</key>
		<string>pt</string>
	</dict>
	<key>mlm</key>
	<dict>
		<key>title</key>
		<string>MLM Default</string>
		<key>public_key</key>
		<string>TEST-d79fd045-dc90-436e-8bd0-3aef25834ead</string>
		<key>pref_id</key>
		<string>411553753-b7dce9dc-bf46-4545-91a5-bdb904b90cb8</string>
		<key>access_token</key>
		<string>TEST-1178809857150049-022812-1b795ddd0f07c85489b50d6f827b0600-411553753</string>
		<key>payer</key>
		<string>TETE5752063 / qatest7669</string>
		<key>collector</key>
		<string>TESTYWDWDD2F / qatest32</string>
		<key>site</key>
		<string>MLM</string>
		<key>language</key>
		<string>es</string>
	</dict>
	<key>mla50</key>
	<dict>
		<key>title</key>
		<string>Item $50</string>
		<key>public_key</key>
		<string>TEST-47638845-b0ff-469d-9700-1779a2e26e44</string>
		<key>pref_id</key>
		<string>410973637-99bea7ae-abaa-4265-8d3f-a02c3e3205ab</string>
		<key>access_token</key>
		<string>TEST-2339206676136732-022711-66711b94df7125aff837f84ca14210df-410998299</string>
		<key>payer</key>
		<string>TESTPJ7DMB1A / qatest3404</string>
		<key>collector</key>
		<string>TETE1898701 / qatest4439</string>
	</dict>
	<key>mla100</key>
	<dict>
		<key>title</key>
		<string>Item $100</string>
		<key>public_key</key>
		<string>TEST-47638845-b0ff-469d-9700-1779a2e26e44</string>
		<key>pref_id</key>
		<string>410973637-e2c78e50-d8a6-43b9-8af2-59fd7fa6ac21</string>
		<key>access_token</key>
		<string>TEST-2339206676136732-022711-66711b94df7125aff837f84ca14210df-410998299</string>
		<key>payer</key>
		<string>TESTPJ7DMB1A / qatest3404</string>
		<key>collector</key>
		<string>TETE1898701 / qatest4439</string>
	</dict>
	<key>manyCards</key>
	<dict>
		<key>title</key>
		<string>MLA Many Cards</string>
		<key>public_key</key>
		<string>TEST-47638845-b0ff-469d-9700-1779a2e26e44</string>
		<key>pref_id</key>
		<string>410973637-e2c78e50-d8a6-43b9-8af2-59fd7fa6ac21</string>
		<key>access_token</key>
		<string>APP_USR-6519316523937252-070516-964fafa7e2c91a2c740155fcb5474280__LA_LD__-261748045</string>
		<key>payer</key>
		<string>TESTPJ7DMB1A / qatest3404</string>
		<key>collector</key>
		<string>TETE1898701 / qatest4439</string>
	</dict>
	<key>discountAlwaysOn</key>
	<dict>
		<key>title</key>
		<string>Always ON discount</string>
		<key>public_key</key>
		<string>APP_USR-ba2e6b8c-8b6d-4fc3-8a47-0ab241d0dba4</string>
		<key>pref_id</key>
		<string>384414502-d095679d-f7d9-4653-ad71-4fb5feda3494</string>
		<key>access_token</key>
		<string>TEST-1458038826212807-062020-ff9273c67bc567320eae1a07d1c2d5b5-246046416</string>
	</dict>
	<key>discountSoldOut</key>
	<dict>
		<key>title</key>
		<string>Sold out discount</string>
		<key>public_key</key>
		<string>APP_USR-d1c95375-5137-4eb7-868e-da3ca8067d79</string>
		<key>pref_id</key>
		<string>380636546-1c7b7731-97eb-492b-a25b-2374e36f24c9</string>
		<key>access_token</key>
		<string>APP_USR-6094765363333165-122815-204eeee0a1ad662e7a977b2e7596a7c4-368735296</string>
	</dict>
	<key>discountByPaymentMethod</key>
	<dict>
		<key>title</key>
		<string>Discount by Payment method</string>
		<key>public_key</key>
		<string>APP_USR-3300f176-307d-4600-9769-ad1d10d51a4a</string>
		<key>pref_id</key>
		<string>388462750-e44082ad-6246-4b8d-a1c0-25cae994b223</string>
		<key>access_token</key>
		<string>TEST-1458038826212807-062020-ff9273c67bc567320eae1a07d1c2d5b5-246046416</string>
	</dict>
	<key>discountByIssuer</key>
	<dict>
		<key>title</key>
		<string>Discount by issuer</string>
		<key>public_key</key>
		<string>APP_USR-013db0be-9f4a-494f-acc8-44bd3f3e75a2</string>
		<key>pref_id</key>
		<string>388466010-9b7f0eab-e1aa-4098-bb3c-c95244308274</string>
		<key>access_token</key>
		<string>TEST-1458038826212807-062020-ff9273c67bc567320eae1a07d1c2d5b5-246046416</string>
	</dict>
	<key>discountForAM</key>
	<dict>
		<key>title</key>
		<string>Discount for Account Money</string>
		<key>public_key</key>
		<string>APP_USR-6167c43b-8bfa-4eb5-b4b8-b66b15246f19</string>
		<key>pref_id</key>
		<string>413655952-2a137fcf-2fbc-4926-be95-4d8077341e2f</string>
		<key>access_token</key>
		<string>TEST-5511028488113173-010314-a0d3138592c4e0281dda29f840baa4f5-384294267</string>
	</dict>
	<key>escOneCard</key>
	<dict>
		<key>title</key>
		<string>ESC One Saved Card</string>
		<key>public_key</key>
		<string>TEST-47638845-b0ff-469d-9700-1779a2e26e44</string>
		<key>pref_id</key>
		<string>410973637-e2c78e50-d8a6-43b9-8af2-59fd7fa6ac21</string>
		<key>access_token</key>
		<string>TEST-2339206676136732-022711-66711b94df7125aff837f84ca14210df-410998299</string>
		<key>payer</key>
		<string>TESTPJ7DMB1A / qatest3404</string>
		<key>collector</key>
		<string>TETE1898701 / qatest4439</string>
	</dict>
	<key>boleto</key>
	<dict>
		<key>public_key</key>
		<string>APP_USR-f3f035a2-d343-4a6f-bd3b-fc3c3cb72416</string>
		<key>pref_id</key>
		<string>245099733-8771f469-d68e-4863-b8cb-9402e22c6bb2</string>
		<key>title</key>
		<string>Boleto valid case</string>
		<key>language</key>
		<string>pt</string>
		<key>site</key>
		<string>MLB</string>
	</dict>
	<key>charges</key>
	<dict>
		<key>public_key</key>
		<string>APP_USR-648a260d-6fd9-4ad7-9284-90f22262c18d</string>
		<key>pref_id</key>
		<string>243966003-d0be0be0-6fd8-4769-bf2f-7f2d979655f5</string>
		<key>title</key>
		<string>Charges preset</string>
	</dict>
	<key>pluginProcessor</key>
	<dict>
		<key>public_key</key>
		<string>APP_USR-648a260d-6fd9-4ad7-9284-90f22262c18d</string>
		<key>pref_id</key>
		<string>243966003-d0be0be0-6fd8-4769-bf2f-7f2d979655f5</string>
		<key>title</key>
		<string>Plugin processor test</string>
	</dict>
	<key>addCardMLM</key>
	<dict>
		<key>access_token</key>
		<string>TEST-1178809857150049-022812-1b795ddd0f07c85489b50d6f827b0600-411553753</string>
		<key>title</key>
		<string>Add Card MLM</string>
		<key>site</key>
		<string>MLM</string>
	</dict>
	<key>addCardMLB</key>
	<dict>
		<key>access_token</key>
		<string>TEST-7182822688046193-022812-1fc2bafbe7ce8a723231331c8b383aee-411549390</string>
		<key>title</key>
		<string>Add Card MLB</string>
		<key>site</key>
		<string>MLB</string>
		<key>language</key>
		<string>pt</string>
	</dict>
	<key>addCardMLA</key>
	<dict>
		<key>access_token</key>
		<string>TEST-2339206676136732-022711-66711b94df7125aff837f84ca14210df-410998299</string>
		<key>title</key>
		<string>Add Card MLA</string>
		<key>site</key>
		<string>MLA</string>
	</dict>
	<key>addCardNoDNI</key>
	<dict>
		<key>access_token</key>
		<string>TEST-1178809857150049-022812-1b795ddd0f07c85489b50d6f827b0600-411553753</string>
		<key>title</key>
		<string>Add Card MLA Sin DNI</string>
	</dict>
	<key>oneTap</key>
	<dict>
		<key>public_key</key>
		<string>TEST-4763b824-93d7-4ca2-a7f7-93539c3ee5bd</string>
		<key>pref_id</key>
		<string>242624092-2a26fccd-14dd-4456-9161-5f2c44532f1d</string>
		<key>access_token</key>
		<string>TEST-1458038826212807-062020-ff9273c67bc567320eae1a07d1c2d5b5-246046416</string>
		<key>title</key>
		<string>One Tap Tests</string>
	</dict>
	<key>gatewayMode1</key>
	<dict>
		<key>public_key</key>
		<string>APP_USR-e9f2d885-7b9c-4e1d-912a-d2aa2bf3f908</string>
		<key>pref_id</key>
		<string>413582331-07de9455-e4a6-4973-9a74-cd37ea269c0f</string>
		<key>access_token</key>
		<string>APP_USR-6519316523937252-070516-964fafa7e2c91a2c740155fcb5474280__LA_LD__-261748045</string>
		<key>title</key>
		<string>PM aggregator puro</string>
	</dict>
	<key>gatewayMode2</key>
	<dict>
		<key>public_key</key>
		<string>APP_USR-e9f2d885-7b9c-4e1d-912a-d2aa2bf3f908</string>
		<key>pref_id</key>
		<string>413582331-dc509218-13e3-4e8d-928d-1921956ccced</string>
		<key>access_token</key>
		<string>APP_USR-6519316523937252-070516-964fafa7e2c91a2c740155fcb5474280__LA_LD__-261748045</string>
		<key>title</key>
		<string>PM gateway puro</string>
	</dict>
	<key>gatewayMode3</key>
	<dict>
		<key>public_key</key>
		<string>APP_USR-e9f2d885-7b9c-4e1d-912a-d2aa2bf3f908</string>
		<key>pref_id</key>
		<string>413582331-317ac8ab-a09b-4c74-8b39-5139817ba497</string>
		<key>access_token</key>
		<string>APP_USR-6519316523937252-070516-964fafa7e2c91a2c740155fcb5474280__LA_LD__-261748045</string>
		<key>title</key>
		<string>PM gateway + branch id</string>
	</dict>
	<key>gatewayMode4</key>
	<dict>
		<key>public_key</key>
		<string>APP_USR-e9f2d885-7b9c-4e1d-912a-d2aa2bf3f908</string>
		<key>pref_id</key>
		<string>413582331-d88bd7e9-fca5-4d3d-8a0e-53aabbdefc9c</string>
		<key>access_token</key>
		<string>APP_USR-6519316523937252-070516-964fafa7e2c91a2c740155fcb5474280__LA_LD__-261748045</string>
		<key>title</key>
		<string>PM no agg no gw</string>
	</dict>
	<key>gatewayMode5</key>
	<dict>
		<key>public_key</key>
		<string>APP_USR-e9f2d885-7b9c-4e1d-912a-d2aa2bf3f908</string>
		<key>pref_id</key>
		<string>413582331-dc509218-13e3-4e8d-928d-1921956ccced</string>
		<key>access_token</key>
		<string>TEST-2339206676136732-022711-66711b94df7125aff837f84ca14210df-410998299</string>
		<key>title</key>
		<string>PM gateway puro + safe</string>
	</dict>
	<key>gatewayMode6</key>
	<dict>
		<key>public_key</key>
		<string>APP_USR-e9f2d885-7b9c-4e1d-912a-d2aa2bf3f908</string>
		<key>pref_id</key>
		<string>413582331-1571e96c-680d-48f9-a5ee-e91315134d88</string>
		<key>access_token</key>
		<string>TEST-2339206676136732-022711-66711b94df7125aff837f84ca14210df-410998299</string>
		<key>title</key>
		<string>PM hibrido</string>
	</dict>
	<key>marcio</key>
	<dict>
		<key>public_key</key>
		<string>APP_USR-43bf87a0-34ea-420b-a2b2-8937e9ef0373</string>
		<key>pref_id</key>
		<string>377847855-bf9ee760-b700-419f-8e04-a6b35c2a3206</string>
		<key>access_token</key>
		<string>APP_USR-1945000207238192-060610-69133bac75ffc2d90288306aa029e2bd-357306639</string>
		<key>title</key>
		<string>Marcio Case</string>
	</dict>
	<key>template - 5 - 3 - 2</key>
	<dict>
		<key>public_key</key>
		<string></string>
		<key>pref_id</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>language</key>
		<string></string>
		<key>site</key>
		<string></string>
	</dict>
	<key>template - 6</key>
	<dict>
		<key>public_key</key>
		<string></string>
		<key>pref_id</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>language</key>
		<string></string>
		<key>site</key>
		<string></string>
	</dict>
</dict>
</plist>
